*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 1280px;
    margin: 0 auto;
}
.text_one{
    text-align: center;
    margin-top: 60px;
}
.bar{
    position: fixed;
    top: 0;
    left: 0;
    height: 20px;
    width: 0;
    background-color: blue;

}